@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;

  @media only screen and (max-width: 1048px) {
    font-size: 55.5%;
  }

  @media only screen and (max-width: 600px) {
    font-size: 60.5%;
  }

}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
}

main {
  margin: 5rem auto 0 auto;
  min-height: 100%;

  display: grid;
  align-content: start;
  justify-content: center;
}
