.btn {
  width: max-content;
  padding: 1.5rem 2.5rem;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  outline: none;
  border: none;

  color: $color-off-white;
  background-color: $color-soft-red;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: $color-very-dark-blue;
  }
}

.btn__menu {
  display: none;

  padding: 0.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  align-self: center;

  display: flex;
  @media only screen and (min-width: 600px) {
    display: none;
  }
}

.hide {
  display: none;
}
.display {
  display: block;
}
