.icon {
  width: 100%;
  height: 100%;
  object-fit: contain;

  &__logo {
    width: 6.5rem;
    height: 4rem;
  }
}

.logo__box {
  display: flex;
}

.logo__menu {
  width: 3rem;
  height: 1.3rem;
}
