.nav {
  @media only screen and (max-width: 600px) {
    display: none;
  }

  &__item {
    list-style-type: none;
    display: flex;
  }

  &__list {
    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  &__link {
    text-decoration: none;
    color: $color-dark-grayish-blue;
    &:hover,
    &:active {
      color: $color-soft-orange;
    }
  }
}
