@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 1048px) {
    html {
      font-size: 55.5%; } }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 60.5%; } }

body {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  position: relative; }

main {
  margin: 5rem auto 0 auto;
  min-height: 100%;
  display: grid;
  align-content: start;
  justify-content: center; }
  @media only screen and (max-width: 500px) {
    main {
      margin: 3rem auto 0 auto; } }

.btn--right {
  margin-left: auto; }

.display {
  display: block; }

.hide {
  opacity: 0;
  visibility: hidden; }

.popup {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 400ms ease-in-out; }
  @media only screen and (min-width: 600px) {
    .popup {
      opacity: 0;
      visibility: hidden; } }

.icon {
  width: 100%;
  height: 100%;
  object-fit: contain; }
  .icon__logo {
    width: 7.5rem;
    height: 5rem; }

.logo__box {
  display: flex; }

.logo__menu {
  width: 3rem;
  height: 1.3rem; }
  .logo__menu--big {
    width: 3rem;
    height: 3rem; }

.header {
  margin: 0 auto;
  margin-top: 8rem;
  width: 100rem;
  display: flex;
  align-items: end;
  justify-content: space-between; }
  @media only screen and (max-width: 923px) {
    .header {
      width: 80rem; } }
  @media only screen and (max-width: 734px) {
    .header {
      width: auto;
      margin: 5rem 1.5rem 0 1.5rem; } }
  @media only screen and (max-width: 500px) {
    .header {
      margin: 3rem 1.5rem 0 1.5rem; } }

@media only screen and (max-width: 600px) {
  .nav {
    display: none; } }

.nav__item {
  list-style-type: none;
  display: flex; }

.nav__list:not(:last-child) {
  margin-right: 3rem; }

.nav__link {
  text-decoration: none;
  color: #5d5f79; }
  .nav__link:hover, .nav__link:active {
    color: #e9ab53; }

.nav__side__container {
  padding: 2.5rem 2rem 0 2rem;
  width: 70%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fffdfa;
  position: fixed; }
  @media only screen and (min-width: 600px) {
    .nav__side__container {
      opacity: 0;
      visibility: hidden; } }

.nav__side {
  padding-top: 5rem; }
  .nav__side__item {
    list-style-type: none; }
  .nav__side__list:not(:last-child) {
    margin-bottom: 2.5rem; }

.news {
  width: 100rem;
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 5.5rem 2.6rem; }
  @media only screen and (max-width: 923px) {
    .news {
      width: 80rem;
      justify-content: center;
      grid-template-columns: 80rem; } }
  @media only screen and (max-width: 734px) {
    .news {
      width: auto;
      padding: 0 1.5rem;
      grid-template-columns: 1fr; } }
  .news__box {
    display: grid;
    gap: 3rem; }
  .news__info__box {
    display: grid;
    align-self: center;
    justify-content: start;
    grid-template-columns: 1fr 31.5rem;
    gap: 4.5rem; }
    @media only screen and (max-width: 923px) {
      .news__info__box {
        grid-template-columns: 1fr;
        gap: 1rem; } }
  .news__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex; }
  .news__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media only screen and (max-width: 923px) {
      .news__info {
        gap: 2.5rem; } }
  .news__item {
    width: 32rem;
    padding: 2.5rem;
    color: #fffdfa;
    background-color: #00001a; }
    @media only screen and (max-width: 923px) {
      .news__item {
        width: 100%; } }
  .news__title {
    display: flex;
    align-items: center; }
  .news__item__container {
    margin-top: 4rem; }
  .news__item__list {
    cursor: pointer; }
  .news__item__list__info {
    margin-top: 1rem;
    font-size: 1.4rem;
    color: #c5c6ce; }
  .news__item__list:hover, .news__item__title {
    color: #e9ab53; }
  .news__blog {
    grid-column: 1 / -1;
    gap: 3rem;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 923px) {
      .news__blog {
        flex-direction: column; } }
  .news__blog__card {
    cursor: pointer;
    display: grid;
    grid-template-columns: 10rem 20rem;
    grid-template-rows: max-content;
    justify-content: space-between;
    gap: 2rem; }
    @media only screen and (max-width: 923px) {
      .news__blog__card {
        grid-template-columns: 10rem 1fr;
        justify-content: start; } }
    .news__blog__card:hover .news__blog__card__title {
      color: #f15e50; }
  .news__blog__card__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media only screen and (max-width: 923px) {
      .news__blog__card__body {
        justify-content: center; } }
  .news__blog__card__number, .news__blog__card__title {
    margin-bottom: 1.5rem; }

.heading-1 {
  font-size: 5.2rem;
  font-weight: 800;
  line-height: 5.5rem; }
  @media only screen and (max-width: 600px) {
    .heading-1 {
      font-size: 4.5rem;
      font-weight: 800;
      line-height: 5rem; } }

.heading-2 {
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 4rem; }
  .heading-2--color-soft-orange {
    color: #e9ab53; }

.heading-3 {
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 2rem; }

.heading-4 {
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 2rem; }

.number {
  font-size: 2.3em;
  font-weight: 700;
  line-height: 2.9rem;
  color: #c5c6ce; }

.paragraph {
  margin-top: 1rem;
  font-size: 1.4rem;
  line-height: 2.2rem; }
  .paragraph-b {
    margin-top: 0; }
  .paragraph__color-dark-grayish-blue {
    color: #5d5f79; }

.btn {
  width: max-content;
  padding: 1.5rem 2.5rem;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  outline: none;
  border: none;
  color: #fffdfa;
  background-color: #f15e50;
  transition: all 300ms ease-in-out;
  cursor: pointer; }
  .btn:hover {
    background-color: #00001a; }

.btn__menu {
  display: none;
  padding: 0.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  align-self: center;
  display: flex; }
  @media only screen and (min-width: 600px) {
    .btn__menu {
      display: none; } }

.horizontal__line {
  margin: 3rem 0;
  width: 100%;
  height: 0.1rem;
  background-color: #5d5f79; }

.attribution {
  margin: 5rem 0 2rem 0;
  font-size: 1.2rem;
  text-align: center; }
  .attribution__link {
    text-decoration: none;
    color: #e9ab53; }
  .attribution p {
    font-weight: 400; }
